@import './variables.scss';

.about-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 100%;
  max-width: 930px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  margin: 60px 15px 90px 15px;
}

.about-header {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.about-header > h1 {
  text-align: center;
  border-bottom: 3px solid $cs-red;
  width: fit-content;
}

.ab-yt-logo {
  height: 45px;
  width: 200px;
}

.ab-reddit-logo {
  height: 60px;
  width: 185px;
}

.about-text {
  font-size: 17px;
}