.channels-wrapper {
  width: 50%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: auto;
  margin-bottom: 100px;
}

.channel-tile-div {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border-radius: 5px;
}