@import "./variables.scss";

// YouTube Loading screen styling
.loading-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.loading-div > img {
  height: 175px;
  width: 250px;
}

.loading-div>p {
  font-size: 15px;
  font-weight: 900;
}

// Youtube Index
.video-nav-btns {
  display: flex;
  column-gap: 15px;
}

.video-nav-btns>button {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;
  outline: none;
  border: 0px;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.video-nav-btns>button>i:hover {
  color: $cs-red;
  transform: scale(1.25);
  transition: 0.3s;
}

#vid-nav-face {
  cursor: none;
}

// Youtube Video
.youtube-video-div {
  width: min-content;
  position: relative;
}

.yt-video-listing-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.youtube-video-stats-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  overflow-y: auto;
  padding: 10px 10px 50px 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.yt-stat-div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
  justify-self: center;
}

.yt-stat-div > i {
  font-size: 25px;
}