@import "./variables.scss";

// YouTube Channel component
.yt-channels-wrapper {
  padding: 50px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.yt-channel-more {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  border: 3px solid $cs-blue;
  background-color: $cs-blue;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.yt-channel-more:hover {
  border: 3px solid white;
}

// Channels Nav links
.channels-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-size: 20px;
}

.channels-nav-wrapper>div, .channels-nav-wrapper>div>i {
  color: gray;
}

.channels-nav-wrapper>a {
  text-decoration: none;
  border-bottom: 3px solid $cs-red;
}

.channels-nav-wrapper>a:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.0);
}

// Channel tile component
.channels-wrapper {
  width: 50%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: auto;
  margin-bottom: 100px;
  word-wrap: break-word;
}

.channel-tile-div {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

.channel-tile-div>p {
  font-size: 15px;
}

.channel-tile-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 20px;
  text-decoration: none;
  word-wrap: break-word;
}

.channel-tile-link>img {
  height: 90px;
  width: 90px;
}

.channel-avatar {
  border-radius: 100%;
}

.channel-tile-stats {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 900;
  font-size: 17px;
}

.channel-tile-nav-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.channel-tile-nav-div>a, .channel-tile-nav-div>button, .channel-tile-nav-div>a>i {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.channel-tile-nav-div>a {
  border-bottom: 3px solid $cs-red;
}

.channel-tile-nav-div>a:hover{
  border-bottom: 3px solid rgba(0, 0, 0, 0.0);
}

.channel-tile-nav-div>button {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.ch-tile-add {
  background-color: $cs-green;
  border: 3px solid $cs-green;
}

.ch-tile-remove {
  background-color: $cs-red;
  border: 3px solid $cs-red;
}

.ch-tile-refresh {
  background-color: $cs-blue;
  border: 3px solid $cs-blue;
}

.ch-tile-add:hover, .ch-tile-remove:hover, .ch-tile-refresh:hover {
  border: 3px solid white;
}

// No Channels component
.no-channels-div {
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.no-channels-div>img {
  height: 100px;
  width: 150px;
}

.no-channels-div>div {
  font-size: 18px;
}

@media only screen and (max-width: 1600px) {
  .channels-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .channels-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .channels-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .channels-wrapper {
    width: 90%;
  }

  .channel-tile-nav-div>a,
  .channel-tile-nav-div>button,
  .channel-tile-nav-div>a>i {
    font-size: 16px;
  }

  .channel-tile-nav-div>button {
    padding: 5px;
  }
}

@media only screen and (max-width: 700px) {
  .channels-wrapper {
    width: 100%;
  }

  .channel-tile-nav-div>a,
  .channel-tile-nav-div>button,
  .channel-tile-nav-div>a>i {
    font-size: 14px;
  }

  .channel-tile-nav-div {
    column-gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .channel-tile-stats {
    font-size: 15px;
    column-gap: 8px;
  }

  .channels-nav-wrapper {
    font-size: 18px;
  }

  .channel-tile-link {
    font-size: 17px;
  }

  .channel-tile-link>img {
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 530px) {
  .channel-tile-nav-div>a,
  .channel-tile-nav-div>button,
  .channel-tile-nav-div>a>i {
    font-size: 16px;
  }

  .channel-tile-stats {
    font-size: 13px;
    column-gap: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .channel-tile-stats {
    font-size: 11px;
    column-gap: 3px;
  }

  .channels-nav-wrapper {
    column-gap: 15px;
    font-size: 15px;
  }

  .channels-view-title {
    font-size: 25px;
  }

  .channel-tile-div>p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 330px) {
  .channel-tile-stats {
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .channel-tile-stats {
    font-size: 9px;
  }

  .channels-nav-wrapper {
    column-gap: 10px;
    font-size: 14px;
  }
}