@import "./variables.scss";

// YouTube Channel component
.yt-channels-wrapper {
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.yt-channel-more {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  border: 3px solid $cs-blue;
  background-color: $cs-blue;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.yt-channel-more:hover {
  border: 3px solid white;
}

// Channels Nav links
.channels-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-size: 20px;
}

.channels-nav-wrapper>div {
  color: gray;
}

.channels-nav-wrapper>a {
  text-decoration: none;
  border-bottom: 3px solid $cs-red;
}

.channels-nav-wrapper>a:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.0);
}

// Channel tile component
.channels-wrapper {
  width: 50%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: auto;
  margin-bottom: 100px;
}

.channel-tile-div {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.channel-tile-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 20px;
  text-decoration: none;
}

.channel-tile-link>img {
  height: 90px;
  width: 90px;
}

.channel-avatar {
  border-radius: 100%;
}

.channel-tile-stats {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 900;
}

.channel-tile-nav-div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.channel-tile-nav-div>a, .channel-tile-nav-div>button, .channel-tile-nav-div>a>i {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.channel-tile-nav-div>a {
  border-bottom: 3px solid $cs-red;
}

.channel-tile-nav-div>a:hover{
  border-bottom: 3px solid rgba(0, 0, 0, 0.0);
}

.channel-tile-nav-div>button {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.ch-tile-add {
  background-color: $cs-green;
  border: 3px solid $cs-green;
}

.ch-tile-remove {
  background-color: $cs-red;
  border: 3px solid $cs-red;
}

.ch-tile-refresh {
  background-color: $cs-blue;
  border: 3px solid $cs-blue;
}

.ch-tile-add:hover, .ch-tile-remove:hover, .ch-tile-refresh:hover {
  border: 3px solid white;
}

// No Channels component
.no-channels-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.no-channels-div>img {
  height: 100px;
  width: 150px;
}

.no-channels-div>div {
  font-size: 18px;
}