@import "./variables.scss";

// YouTube Loading screen styling
.loading-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 100vh;
}

.loading-div > img {
  height: 175px;
  width: 250px;
}

.loading-div>p {
  font-size: 15px;
  font-weight: 900;
}

// Youtube Index
.video-nav-btns {
  display: flex;
  column-gap: 15px;
}

.video-nav-btns>button {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;
  outline: none;
  border: 0px;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.video-nav-btns>button:hover > i {
  color: $cs-red;
  transform: scale(1.25);
  transition: 0.3s;
}

#vid-nav-face {
  cursor: auto;
}

// Youtube Video
.youtube-video-div {
  width: min-content;
  position: relative;
}

.drag-bypass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yt-video-listing-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  height: 100vh;
}

.youtube-video-stats-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow-y: auto;
  max-height: 100%;
  width: fit-content;
  margin: 0 5px 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.yt-stat-div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.yt-stat-div > i {
  font-size: 25px;
}

iframe {
  // display: block;
  width: 385px;
  height: 685px;
}

@media only screen and (max-width: 768px) {
  .yt-video-listing-div {
    row-gap: 0px;
    height: min-content;
    width: 100%;
  }

  .youtube-video-div {
    width: 100%;
    height: 100%;
  }

  iframe {
    // width: 100wh;
    width: 100%;
    height: 90vh;
  }
}