@import "./variables.scss";

.yt-search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  margin-bottom: 50px;
}

.yt-search-div>input {
  border: 0;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 500px;
}

.yt-search-div>button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: $cs-red;
  outline: none;
  border: 0;
  width: 50px;
  height: 100%;
}

.yt-search-title {
  margin-top: 60px;
}

.yt-search-additions {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .yt-search-div>input {
    width: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .yt-search-div>input {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .yt-search-div>input {
    font-size: 16px;
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .yt-search-div>input {
    font-size: 15px;
    width: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .yt-search-div>input {
    font-size: 14px;
    width: 200px;
  }
}