@import "./variables.scss";

.playlist-ui-wrapper {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 10px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.playlist-ui-wrapper::-webkit-scrollbar {
  display: none;
}

#plui-show, #pui-close { 
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  cursor: pointer;
  font-size: 45px;
  font-weight: 900;
  z-index: 10;
  display: block;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
}

.pui-header {
  width: 90%;
  word-wrap: break-word;
}

.pui-playlist-title {
  font-size: 20px;
  word-wrap: break-word;
  font-weight: 900;
}

.pui-avatar {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.pui-au-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
}

.pui-au-div>span, .pui-owner-buttons>a {
  font-weight: 900;
  border-bottom: 2px solid $cs-red;
  font-size: 16px;
  text-decoration: none;
}

.pui-owner-buttons {
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  align-items: center;
}

.pui-videos {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 80px;
}

.pui-show-more {
  background-color: $cs-blue;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  font-weight: 900;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  width: fit-content;
  align-self: center;
}

.pui-video-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
}

.pui-v-image {
  height: 120px;
  width: 120px;
}

@media only screen and (max-width: 700px) {
  .pui-playlist-title {
    font-size: 18px;
  }

  .pui-video-item, .playlist-delete {
    font-size: 14px;
  }

  .playlist-delete {
    padding: 10px 5px 10px 5px;
  }

  .pui-v-image {
    height: 75px;
    width: 75px;
  }
}

@media only screen and (max-width: 400px) {
  .pui-header {
    width: 85%;
  }

  .pui-playlist-title {
    font-size: 16px;
  }

  .pui-video-item, .playlist-delete {
    font-size: 12px;
  }

  .pui-v-image {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 350px) {
  .pui-playlist-title {
    font-size: 14px;
  }

  .pui-video-item,
  .playlist-delete {
    font-size: 11px;
  }

  .pui-v-image {
    height: 45px;
    width: 45px;
  }
}