#plui-show, #pui-close { 
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px 30px 0 0;
  cursor: pointer;
  font-size: 45px;
  font-weight: 900;
}

.pui-playlist-title {
  font-size: 50px;
}

.pui-pub-icon {

}