@import "./variables.scss";

#plui-show, #pui-close { 
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px 30px 0 0;
  cursor: pointer;
  font-size: 45px;
  font-weight: 900;
}

.pui-playlist-title {
  font-size: 20px;
  font-weight: 900;
}

.pui-avatar {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.pui-au-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
}

.pui-au-div>span {
  font-weight: 900;
  border-bottom: 2px solid $cs-red;
}