
// Reddit Video
.reddit-video-wrapper {
  border: 1px solid blue;
  position: relative;
}

.reddit-video-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: min-content;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  z-index: 2;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

.reddit-video-title>a {
  text-decoration: none;
  display: block;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.reddit-video-author-title {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  word-wrap: break-word;
  z-index: 2;
}

.reddit-video-author {
  font-size: 14px;
  font-weight: 900;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.rv-title {
  font-size: 12px;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.reddit-stats {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  // background-color: rgba(0, 0, 0, 0.5);
  width: 15%;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.reddit-stats, .reddit-comment-btn { 
  font-size: 17px;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.reddit-stat {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reddit-stat-icon {
  font-size: 25px;
}

.reddit-comment-btn {
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  cursor: pointer;
  border: 0;
}

#reddit-audio {
  display: none;
}