@import "./variables.scss";

.devise-form-parent-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.devise-title {
  font-size: 20px;
  border-bottom: 3px solid $cs-red;
  margin-top: 50px;
}

.devise-form {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 12px;
}

.field>input {
  font-size: 14px;
  padding: 5px 0 5px 5px;
  outline: none;
  border-radius: 10px;
  border: 0;
}

.devise-text-area {
  resize: vertical;
  height: 100px;
}

.devise-edit-user-subsection {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 15px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
}

.devise-edit-user-subsection>h3 {
  font-size: 25px;
}

.devise-edit-user-subsection>a {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  background-color: $cs-blue;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.devise-edit-user-subsection>div {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.devise-delete-btn {
  background-color: $cs-red;
  font-size: 15px;
  font-weight: 900;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.devise-submit {
  width: 100%;
  font-size: 18px;
  font-weight: 900;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: $cs-blue;
  padding: 10px;
  cursor: pointer;
}

.devise-100vh {
  height: 100vh;
}